<%- include("../includes/header.ejs") %>

<link rel="stylesheet" href="/css/product.css"> 
<link rel="stylesheet" href="/css/forms.css">

</head>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main>
        <form class="product-form" action="/admin/<% if(editing){ %>edit-product<% }else{ %>add-product <% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(editing){ %><%= product.title %><% }else{ %><% } %>">
            </div>
           
            <div class="form-control">
                <label for="ImageUrl">ImageUrl</label>
                <% 
                if(editing){ 
                %>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="150" height="150">
                <% 
                }
                %>                
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing){ %><%= product.imageUrl %><% }%>">
            </div>
            
            
            <div class="form-control">
                <label for="Price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if(editing){ %><%= product.price %><% }%>">
            </div>

            <div class="form-control">
                <label for="Description">Description</label>
                <textarea name="description" id="description"><% if(editing){ %><%= product.description %><% } %></textarea>
            </div>
            <% if(editing) { %>
                <input type="hidden" name="productId" value="<%= product.id %>">
            <% } %>
            <button type="submit" class="btn"> <% if(editing) { %> Update Product <% } else{ %> Add Product <% } %> </button>
        </form>
    </main>

<%- include("../includes/footer.ejs") %>